// body {
//     font-family: 'Verdana', sans-serif;
//     // background: #1C121F;
//     background: #090d19ed;
//     margin: 0;
// }

// ul {
//     list-style-type: none;
// }

// a {
//     text-decoration: none;

//     &.active {
//         color: #F24B88;
//         border-bottom: 2px solid;
//         opacity: 0.9;

//         &:hover {
//             opacity: 1;
//         }
//     }
// }

.container {
        padding-block: 60px 0;
        // padding-inline: 20px;
        margin: 0 auto;
        color: #fafafa;
        width: 355px;

        @media (min-width: 768px) {
                padding-block: 60px 0;
                // padding-inline: 30px;
                width: 748px;
        }

        @media (min-width: 1400px) {
                padding-block: 60px 0;
                width: 1351px;
        }
}

.notfound_text {
        font-size: 12px;
        opacity: 0.9;

        @media (min-width: 768px) {
        font-size: 14px;
        }

        @media (min-width: 1400px) {
                font-size: 16px;
        }
}

.toaster {
        border: 1px solid #713200;
        padding: 4px;
        font-size: 10px;
        background-color: #e38181;
        color: white;
        margin-top: 36px;

        @media (min-width: 768px) {
                font-size: 12px;
                margin-top: 46px;
        }

        @media (min-width: 1400px) {
                font-size: 14px;
                margin-top: 56px;
        }
}
