.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: baseline;
    gap: 8px;
    position: relative;
    padding-left: 0;
    color: #fafafa;

    @media (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    @media (min-width: 1400px) {
        grid-template-columns: repeat(6, 1fr);
        gap: 23px;
    }

    
    &__name {
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: 00.03rem;
        opacity: 0.9;
        margin-block: 4px 8px;
        margin-left: 4px;

        @media (min-width: 768px) {
            font-size: 12px;
        }
    
        @media (min-width: 1400px) {
            font-size: 14px;
        }
    }

    &__item {
        position: relative;
        cursor: pointer;
        border: 1px solid #2e263ad1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #957ead36;
    }

    &__img {
        width: 100%;
        height: 160px;

        @media (min-width: 768px) {
            height: 210px;
        }
    
        @media (min-width: 1400px) {
            height: 300px;
        }
    }

    &__item:hover &__img {
        filter: blur(2px);
        opacity: 0.7;
    }

    &__item &__btn {
        display: none;
    }

    &__item:hover &__btn {
        position: absolute;
        top: 62px;
        left: 30px;
        display: block;
        z-index: 100;
        border: none;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        background-color: #fafafa86;
        fill: #fafafa;

        @media (min-width: 768px) {
            top: 78px;
            left: 40px;
            width: 64px;
            height: 64px;
        }
    
        @media (min-width: 1400px) {
            top: 124px;
            left: 75px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__svg {
        fill: inherit;
    }

    &__item &__rate {
        display: none;
    }

    &__item:hover &__rate {
        position: absolute;
        top: 4px;
        right: 2px;
        display: block;
        z-index: 100;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 20px;
        padding-inline: 8px 10px;
        border-radius: 15px;
        background-color: #291f1fcb;

        @media (min-width: 768px) {
            top: 6px;
            right: 4px;
            height: 22px;
            padding-inline: 8px 12px;
        }
    
        @media (min-width: 1400px) {
            top: 8px;
            right: 4px;
            gap: 6px;
            height: 26px;
            padding-inline: 8px 14px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__rate_svg {
        fill: rgba(255, 153, 0, 0.913);
        width: 12px;
        @media (min-width: 768px) {
            width: 14px;
        }
    
        @media (min-width: 1400px) {
            width: 18px;
        }
    }

    &__vote {
        font-size: 10px;

        @media (min-width: 768px) {
        font-size: 12px;
        }
    
        @media (min-width: 1400px) {
            font-size: 14px;
        }
    }
}