
.hero{
    // background:radial-gradient(circle, rgba(147, 198, 234, 0.159) 0%, rgba(9, 9, 21, 0.819) 100%), url('../../images/bg/hero.jpg');
    background: radial-gradient(circle, rgba(98, 63, 111, 0.359) 0%, rgba(29, 3, 32, 0.819) 100%), url('../../images/bg/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // @media (min-width: 768px) {
    // }

    // @media (min-width: 1400px) {
    // }

    &__wrapper {
        backdrop-filter: blur(1.5px);
        padding-block: 300px 40px;
        // padding-inline: 20px;

        @media (min-width: 768px) {
            padding-block: 400px 40px;
            padding-inline: 50px;
        }
        
        @media (min-width: 1400px) {
            padding-block: 490px 60px;
            padding-inline: 60px;
        }
    }

    &__desc {
        color: #fafafa;
        opacity: 0.75;
        width: 355px;
        text-align: center;
        font-style: italic;
        font-size: 10px;
        margin: 0 auto;
        line-height: 1.8;
        letter-spacing: 0.1rem;

        @media (min-width: 768px) {
            font-size: 12px;
            width: 748px;
        }
    
        @media (min-width: 1400px) {
            width: 1050px;
            text-align: center;
            font-style: italic;
            font-size: 14px;
            margin: 0 auto;
            line-height: 1.8;
            letter-spacing: 0.1rem;
            width: 1351px;
        }
    }
}