.notfound {
    background-image: url('../../images/bg/0_QwKiGz7AzOir17Aj.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    width: 1351px;
    margin: 0 auto;
    height: 500px;
    margin-top: 30px;

    & p {
        font-size: 16px;
        text-align: center;
        padding-top: 470px;
        opacity: 0.6;
        letter-spacing: 0.14rem;
    }
}