.container {
    width: 1351px;
    margin: 0 auto;
    margin-top: 80px;
    color: #fafafa;
}

.title {
    margin-top: 20px;
    font-size: 28px;
    opacity: 0.9;
    letter-spacing: 0.04rem;
    margin-bottom: 40px;
}