.container {
    padding-block: 60px 0;
    padding-inline: 20px;
    margin: 0 auto;
    color: #fafafa;

    @media (min-width: 768px) {
        padding-block: 60px 0;
        padding-inline: 30px;
    }

    @media (min-width: 1400px) {
        padding-block: 60px 0;
        padding-inline: 0;
        width: 1351px;
    }
}

.title {
    font-size: 18px;
    opacity: 0.9;
    letter-spacing: 0.04rem;
    margin-bottom: 12px;

    @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 28px;
    }

    @media (min-width: 1400px) {
        font-size: 28px;
    }
}

