.video {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 140px;

    @media (min-width: 768px) {
            width: 660px;
            height: 320px;
        }
    
        @media (min-width: 1400px) {
            width: 1120px;
            height: 540px;
            margin-bottom: 70px;
        }

    &__title {
        margin-top: 40px;
        margin-bottom: 18px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.04rem;
        color: #fafafa;
        opacity: 0.9;
    
        @media (min-width: 768px) {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 22px;
        }
    
        @media (min-width: 1400px) {
            margin-top: 70px;
            margin-bottom: 24px;
            font-size: 24px;
        }
    }

    &__wrapper {
        position: relative;
        margin: 0 auto;
        margin-bottom: 70px;
        width: 355px;
        color: #fafafa;
    
        @media (min-width: 768px) {
            width: 748px;
        }
    
        @media (min-width: 1400px) {
            width: 1351px;
            margin-bottom: 70px;
        }
    }

    &__item {
        // position: relative;
        // padding-top: 56.25%;

        // width: 300px;
        // margin: 0 auto;
        // display: block;
        // height: 100%;
        // top: 0;
        top: -156px;
        z-index: 100;
        left: 27px;
        position: absolute;
        
        @media (min-width: 768px) {
            width: 660px;
            height: 320px;
            top: -365px;
            left: 0;
            z-index: 100;
        }
    
        @media (min-width: 1400px) {
            width: 1220px;
            left: -48px;
            top: -686px;
            height: 540px;
        }

        // width: auto; 
        // height: auto;
    }

    &__player {
        padding-top: 56.25%; 
        position: relative;

        & > li {
            position: absolute;
        }
    }

 


    &__btns {
        display: flex;
        gap: 310px;
        position: absolute;
        top: 53px;
        

        @media (min-width: 768px) {
            gap: 684px;
        }
    
        @media (min-width: 1400px) {
            gap: 1266px;
            // left: -54px;
        }
    }

    &__btn {
        opacity: 0.9;
        height: 150px;
        width: 22px;
        background-color: #957ead17;
        border: none;
        fill: #fafafab8;
        position: relative;
        transition: all .3s ease-in;

        &:disabled {
            fill: #fafafa68;
            background-color: #957ead0a;
            pointer-events: none;
        }

        &:hover {
            background-color: #9f7dc62d;
            fill: #fafafa;
        }

        @media (min-width: 768px) {
            height: 320px;
            width: 32px;
        }

        @media (min-width: 1400px) {
            height: 540px;
            width: 44px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__svg {
        fill: inherit;
        width: 18px;
        position: absolute;
        top: 60px;
        left: 2px;

        @media (min-width: 768px) {
            width: 32px;
            top: 136px;
            left: 0;
        }

        @media (min-width: 1400px) {
            top: 260px;
            left: 7px;
        }
    }

}