body {
    font-family: 'Verdana', sans-serif;
    // background: #1C121F;
    background: #090d19ed;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

    &.active {
        color: #F24B88;
        border-bottom: 2px solid;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }
    }
}

.up {
    position: fixed;
    right: 12px;
    bottom: 24px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    fill: #F24B88;
    fill: #fafafa;
    background-color: #fafafa21;
    animation: pulsate-bck 1000ms infinite;

    @media (min-width: 768px) {
        right: 20px;
        bottom: 30px;
        width: 40px;
        height: 40px;
    }

    @media (min-width: 1400px) {
        right: 60px;
        bottom: 40px;
        width: 48px;
        height: 48px;
    }

    &:hover {
        opacity: 0.9;
    }

    & svg {
        fill: inherit;
        @media (min-width: 768px) {
            width: 18px;
            height: 18px;
        }
    
        @media (min-width: 1400px) {
            width: 20px;
            height: 20px;
        }
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}