
.footer {
    width: 100%;
    color: #fafafa;

        
    &__container {
        width: 355px;
        margin-inline: auto;
        padding-block: 30px;
        border-top: 1px solid rgba(255, 253, 253, 0.254);

        @media (min-width: 768px) {
            width: 748px;
        }

        @media (min-width: 1400px) {
            width: 1351px;
        }
    }

    &__rights {
        font-size: 14px;
        opacity: 0.8;
        text-align: center;
        margin-bottom: 18px;
    }

}
