.box {
    width: 355px;
    margin: 0 auto;
    padding-bottom: 60px;

    @media (min-width: 768px) {
        width: 748px;
    }

    @media (min-width: 1400px) {
        width: 1351px;
    }
}

div.slick-list {
    padding-block: 100px;
}
